.timeline {
  list-style: none;
  padding-left: 20px;
  border-left: 3px solid #0d6efd;
}

.timeline li {
  margin: 20px 0;
  position: relative;
}

.timeline li::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #0d6efd;
  border-radius: 50%;
  position: absolute;
  left: -9px;
  top: 5px;
}
